@font-face {
    font-family: InterRegular;
    src: url("@/assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: InterMedium;
    src: url("@/assets/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("@/assets/fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: InterSemiBold;
    src: url("@/assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: InterLight;
    src: url("@/assets/fonts/Inter-Light.ttf");
}

.fz-20 {
    @include adaptiv-font(20,
    14);
}

.fz-14 {
    @include adaptiv-font(14,
    12);
}

.fz-24 {
    @include adaptiv-font(24,
    16);
}

.mb-20 {
    margin-bottom: 20px !important;
}

.font-m {
    font-family: InterMedium;
}

.text {
    text-decoration: none;
    &.--silver {
        color: $silver;
    }
    &.--light-silver {
        color: $medium-gray;
    }
    &.--small {
        font-size: 12px;
        color: #999999;
    }
    &.--orange {
        color: $orange;
    }
    &.--bold {
        font-weight: bold;
    }
    &.--medium {
        font-family: InterSemiBold;
    }
    &.--medium-light {
        font-family: InterLight;
    }
    &.--title {
        font-family: InterBold;
        @include adaptiv-font(20,
        16);
    }
    &.--title-xs {
        font-family: InterBold;
        @include adaptiv-font(24,
        16);
    }
}